img{
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 150px;
  height: 150px;
}

.izquierda {
  float:left;
}
.derecha{
  float:right;
}
#footer {
  border: 1px solid grey;
  padding-bottom: 30px;
  background-color: lightgrey;

}
