header > h1{
  background-color: white;
}

.cabecera{
  background-color: white;
}

.menu  li a {
  color:white;
  background: black;

}

 figure > img{
  display: none;
}



article{
  background: lightgray;
}

*{
  color:black;
}
