*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  width: 960px;
}

header{
  width: 100%;
background-color:lightblue;
 position: fixed;
  display: table;
  padding: 10px;
}
 header h1{
   display: table-cell;
   text-align: left;
   vertical-align: middle;
  font: bold 36px Helvetica, sans-serif;

 }
 img{
   width: 120px;
   display: table-cell;
   padding: 20px;
   vertical-align: middle;
 }

header  nav{
   display: table-cell;
   margin: 100px;


 }
header nav li{
  background: steelblue;
  display: inline-block;
  border:1px solid steelblue;
  padding: 7px 7px 7px 7px;

 }
header a{
  color:white;
  text-decoration: none;

}

aside{
  display: table-cell;
  padding: 10px;

}
li ul{
  display: none;
}
li:hover ul{
  display:block;

}

 aside ul{
   border: 1px solid lightgrey;
   background-color: lightgrey;
   padding: 5px 70px 5px 70px;
   margin-right:  220px;


 }
 aside ul li{
   list-style: none;
     text-align: left;
 }
 aside a{
   text-decoration: none;
   color:black;
   display: block;
 }
 .primeraEntrada{
   margin-top: 160px;

   border: 2px solid grey;
   background: linen;
   margin-left: 90px;
   padding: 20px 20px 20px 20px;


 }

.segundaEntrada{
  height: 150px;
  border: 2px solid grey;
  background: linen;
  margin-left: 90px;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;



 }
 figure img{
   padding-right: 50px;
   width: 300px;
   height: 300px;
 }

   article h1  {
    font-style: bold;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
  }
  h3{
    font-style: bold;
    font-size: 18px;
    margin-left: 10px;

  }
   .r,time{
    margin-left: 10px;

    color: lightgrey;
  }
  p{
    margin-left: 10px;
  }
  section{
    margin-left: auto;
    margin-top: auto;
    display: table;
    margin-right: auto;
    width: 100%;

  }

 footer{
   width: 100%;
   text-align: center;
   padding: 10px;
   display: flex;
  /*min-height: 100vh;*/
  flex-direction: column;
 }
caption{
   font-style: italic;
 }
 .comentario{
   color:blue;
   margin-left: 700px;

 }
